/*! Kaska Miskolczi | MIT License | https://iamkaska.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  width: 100%;
  max-width: 1100px;
  overflow-x: hidden;
  overflow-y: scroll;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #373D48;
  color: white;
  text-shadow: none;
}

::selection {
  background: #373D48;
  color: white;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Main Resume Styles
   ========================================================================== */

/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,669;0,700;0,800;0,900;1,400;1,500;1,600;1,669;1,700;1,800;1,900&display=swap');

/*
 * Header Color-Block Bar
 */

.header {
  position: absolute;
  width: 100%;
  background-color: #6E0000;
  color: whitesmoke;
  padding: 1vw;
  padding-left: 2vw;
  z-index: 2;
}

.header h1 {
  font-size: 3em;
  font-family: 'Georgia', serif;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}

.header h2 {
  font-size: 1.8em;
  margin-top: 0px;
  margin-bottom: 0px;
}

section#main {
    width: 100%;
    max-width: 80%;
    position: absolute;
    top: 160px;
    left: 0px;
}

div.elevator-pitch {
  padding-left: 1.8vw;
  padding-right: 5.4vw;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  /* max-width: 62vw; */
}

h3.elevator-pitch, h3.work-history, h3.education {
  font-family: 'Playfair Display', serif;
  font-size: 1.6em;
  margin-top: 0px;
  color: #373D48;
}

h3.contact, h3.skills {
  font-family: 'Playfair Display', serif;
  font-size: 1.4em;
  margin-top: 0px;
  text-transform: normal;
  font-variant: small-caps;
  color: #373D48;
}

section.work-history {
  padding-left: 1.8vw;
  padding-right: 1.8vw;
  margin-top: 0px;
  margin-bottom: 0px;
}

hr {
  text-align: left;
  margin-top: -24px;
  border-top: 1.8px solid #D5D6D6;
  color: transparent;
}

hr.elevator-pitch {
  width: 16vw;
  max-width: 180px;
  min-width: 170px;
}

p.elevator-pitch {
  width: 100%;
  max-width: 69vw;
}

span.disclaimer {
  font-size: 0.7em;
  font-style: italic;
  margin-top: 10px;
  display: block;
  color: #6F6F6F;
}

hr.work-history {
  width: 12vw;
  max-width: 180px;
  min-width: 160px;
}

h4.work-history {
  font-size: 1.3em;
  margin-top: -10px;
  margin-bottom: 0px;
  color: #2F2F2F;
}

h5.work-history {
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #4F4F4F;
  width: 40vw;
}

ul.work-history {
  width: 100%;
  max-width: 62vw;
  list-style-type: none;
}

.work-history li::before {
  /* content: '✓'; */
  /* content: '➳'; */
  content: '◍';
  width: 1.2em;
  margin-left: -1.2em;
  display: inline-block;
  color: rgba(55,61,72,0.5);
  font-size: 0.8em;
  /* margin-bottom: 0.8em; */
}

/* ul.work-history li::before {
  content: '\002721';
  opacity: 0.8;
  color: rgba(0,0,0,0.5);
} */

.spacer {
  font-style: normal;
  font-size: 0.5em;
  position: relative;
  top: -1px;
}

div#miskolczi-software {
  padding-right: 5.4vw;
}

div.aside-background {
  background-color: #f4f4f4;
  position: absolute;
  right: 0px;
  top: 120px;
  min-height: 500px;
  width: 100%;
  max-width: 18%;
  float: right;
  padding: 1.8vw;
  padding-left: 4vw;
  display: block;
}

aside {
  width: 100%;
  /* max-width: 14vw; */
  /* position: static;
  right: 0px;
  top: 160px; */
  text-align: right;
  padding-right: 1.8vw;
  padding-top: 1.2vh;
}

ul.contact, ul.skills {
  list-style-type: none;
  font-size: 1em;
}

h3.contact, h3.skills {
  text-align: left;
}

/* ul.contact li {
  width: 14vw;
} */

div.block {
  display: block;
  background: transparent;
  height: 70px;
}

section.education {
  padding-left: 1.8vw;
  padding-right: 1.8vw;
  margin-top: 0px;
  margin-bottom: 0px;
}

hr.education {
  width: 12vw;
  max-width: 140px;
  min-width: 130px;
}

h4.education {
  font-size: 1.3em;
  margin-top: 2px;
  margin-bottom: 0px;
  color: #2F2F2F;
  font-weight: 400;
}

.read-more {
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div#miskolczi-software, div#relayhealth, div#booz-allen, div#fierce-markets, div#webmaster-animator, div#webmaster, div#aircraft, div#scripting {
  margin-bottom: 32px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

