---
eleventyNavigation:
  key: Welcome.
  order: 1
---


<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Kaska Miskolczi - Kaska&#39;s Portfolio</title>
  <link rel="stylesheet" href="assets/css/home.css">

</head>
<body>
<!-- partial:index.partial.html -->
<body>
<div class="horizontal-scroll">
 	<div class="panel first-panel">
  		<div class="contains">
		  <div class="crop-line" id="mobile"></div>
    		<h1 class="name">Kaska Miskolczi</h1>
    		<h2 class="subtitle">{Unicorn Engineer}</h2>
    		<h3 class="date">26, May 2020</h3>
    		<div class="splash-container">
      			<img class="splash" src="https://iamkaska.com/_resume/Kaska_Greyscale-cropped.jpeg" />
      			<div class="red-square" id="left-side"></div>
     		</div>
    	</div>
  		<img class="crosshairs" src="https://iamkaska.com/assets/images/crosshairs.png" id="photo-side"/>
  		<div class="crop-line" id="bottom-left"></div>
	</div>
	<div class="panel second-panel">
		<div class="contains">
			<img src="https://iamkaska.com/assets/images/KDM_ModifiedGeorgia-Cropped.png" class="logo" />
			<h3 class="portfolio">Portfolio of Work</h3>
			<div class="menu">
    			<input id="meu" name="test" type="checkbox" />
				 <label for="meu" class="xtras" title="Menu" id="view-more">-&nbsp;View Menu&nbsp;-</label>
 				<div class="meu-details">
    				<div class="details"></div>
						<ul class="listed">
							<li><a href="mailto:kmiskolczi@outlook.hu?subject=Contact from Main Site" target="_blank" title="Contact Me">Contact</a>&nbsp;/</li>
							<li><a href="https://calendly.com/batmanwgd" target="_blank" title="Book an Appointment">Calendar</a>&nbsp;/</li>
							<li><a href="https://stddef.wixsite.com/kaska/" target="_blank" title="Specialty Design Website">Design</a>&nbsp;/</li>
							<li><a href="https://github.com/batmanwgd" target="_blank" title="Find Me on GitHub">Develop</a>&nbsp;/</li>
							<li><a href="https://iamkaska.com/KM-Resume.pdf" title="Check out my resume">Resume</a>&nbsp;/</li>
							<li><a href="https://kaska.myportfolio.com" target="_blank" title="View Samples">Samples</a>&nbsp;/</li>
						</ul>
					</div>
			</div>
			<h1 class="welcome">Welcome.</h1>
			<h2 class="clients">Taking Clients.</h2>
    		<h3 class="op-hours">Mondays through Thursdays<br>8:30am to 4:30pm<br>Atlanta, Georgia</h3>
			<h4 class="menu"><a href="#" title="About">About</a>&nbsp;/&nbsp;&nbsp;<a href="#" target="_blank" title="Social Media">Social</a>&nbsp;/&nbsp;&nbsp;<a href="mailto:kmiskolczi@outlook.hu?subject=Contact from Main Site" target="_blank" title="Contact Me">Contact</a>&nbsp;/&nbsp;&nbsp;<a href="https://calendly.com/batmanwgd" target="_blank" title="Book an Appointment">Calendar</a>&nbsp;/<br><a href="https://kaska.myportfolio.com" target="_blank" title="View Samples">Samples</a>&nbsp;/&nbsp;&nbsp;<a href="https://stddef.wixsite.com/kaska/" target="_blank" title="Specialty Design Website">Design</a>&nbsp;/&nbsp;&nbsp;<a href="https://github.com/batmanwgd" target="_blank" title="Find Me on GitHub">Development</a>&nbsp;/&nbsp;&nbsp;<a href="https://iamkaska.com/resume/" title="Check out my resume">Resume</a></h4>
			<h2 class="contact">Contact Me.</h2>
    		<h3 class="contact">Kaska Miskolczi<br>+1 (208) 699 7979<br>kmiskolczi@outlook.hu</h3>
			<h5 class="xtras" id="download">-&nbsp;<a href="https://iamkaska.com/assets/pdf/KM-Resume.pdf">Download Resume</a>&nbsp;-</h5>
    		<div class="splash-container">
				<div class="red-square" id="second-left"></div>
     		</div>
    	</div>
  		<img class="crosshairs" id="far-right" src="https://iamkaska.com/assets/images/crosshairs.png" />
  		<div class="crop-line" id="bottom-right"></div>
		</div>
	</div>
</div>
<span class="disclaimer">Scroll is horizontal</span>
</body>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script><script  src="assets/js/home.js"></script>

</body>
</html>
