---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>WIP: Customized CMS for Customized Portfolio</h1>
<img src="/assets/images/snaps-Kaska-resume-page.png" />
<p><em>I'm currently building out a customized CMS to then create my customized portfolio website. This is an incredibly active project, so please check back later for progress.</em></p><hr class="separator"/><br>


<h2>Latest 3 Posts</h2>

{% set postslist = collections.posts | head(-3) %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>