---
layout: layouts/base.njk
section: Welcome.
templateClass: tmpl-home
permalink: ./index.njk
---

{# {% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %} #}

{{ layoutContent | safe }}
