---
layout: layouts/base.njk
section: post
date: 2020-05-12T00:00:00.000Z
templateClass: tmpl-post
---
<article>
  <h1>{{ title }}</h1>
{{ layoutContent | safe }}
</article>
<nav>
<ul>
  <li><a href="{{ '/blog/' | url }}">← Blog index</a></li>
  <li><a href="{{ '/' | url }}">← Home</a></li>
</nav>